<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h2>Covid Stats</h2>
    <p>You have the option to select between average per 100k and total hospital admissions</p>
    <select id="selDataset">
        <option value="total_adm_all_covid_confirmed_past_7days">Total Hospital Admissions Confirmed </option>
        <option value="total_adm_all_covid_confirmed_past_7days_per_100k">Total Hospital Admissions Confirmed Per 100k</option>
    </select>
    <div id="pie"></div>

    <script src="static/js/logic.js"></script>
    <script>
    </script>
</body>
</html>